* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.title {
  height: 30vh;
  background-color: rgb(250, 128, 114);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  border-radius: 10px;
}
.title h1 {
  font-size: 100px;
  font-weight: 800;
}
.search-box {
  padding: 20px;
  margin: 2%;
}
.input-field {
  height: 50px;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}
