<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <title>web||</title>
  </head>
  <body>
    <div class="title"><h1>Search for clients</h1></div>
    <div style="width: 100%; display: flex; justify-content: center">
      <a href="/api/v1/form/" class="btn btn-outline-dark">New Client</a>
    </div>

    <div class="search-box">
      <form
        id="search-form"
        class="d-flex flex-column justify-content-around align-items-center p-3 w-100 rounded-3 border-3 border-dark"
        method="post"
      >
        <input
          type="text"
          name="search"
          id="search"
          class="input-field"
          placeholder="Enter Client name"
        />
        <button
          type="submit"
          class="btn btn-dark m-3 fs-5 search-btn d-flex justify-content-center"
          style="height: 50px; width: 30%"
        >
          <p>Search</p>
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
    <div class="container" id="data-table">
      <div class="row">
        <div
          class="headings col-12 d-flex justify-content-center align-items-center"
        >
          <div class="col-1"><h4>sl</h4></div>
          <div class="col-9">
            <h3>Client</h3>
          </div>
          <div class="col-2">
            <h4>profile</h4>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/home.js"></script>
  </body>
</html>
